<!--  -->

<nav class="navbar navbar-expand-md navbar-light bg-light nav-color">

    <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand nav-head-color" href="#">RENTAL MANAGEMENT SYSTEM</a>
        </div>
       
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item dropdown ">
                <a class="nav-link dropdown-toggle nav-head-color" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 Select Location
                </a>
                <ul class="dropdown-menu" >
                  <li class="dropdown-submenu"  *ngFor = "let result of results;let i = index"><a class="dropdown-item dropdown-toggle"  (click)="onGoToPage2()">{{result.name}}</a>
                    <ul class="dropdown-menu" >
                      <li *ngFor = "let branch of result.branches;let j = index"><a class="dropdown-item" (click)="showCategories(branch)">{{branch.name}}</a></li>
                    
                    </ul>
                  </li>
                </ul>
              </li>
        </ul>
        <ul class="nav navbar-nav">
            
          </ul>
      </div>

  
</nav>


<div  class="center" *ngIf="categories.length == 0">
    <p class="dd"><span>Welcome To<br>RENTAL MANAGEMENT SYSTEM!&#13;&#10; <br><p style="margin-top:10px;font-weight: bold;">Please select location.</p></span></p>
</div>


  
<div class="main" *ngIf="categories.length > 0 && showCategory">

<div class="row">
    <h2 class="equep-heading breadcrumb">Equipment Catalog</h2>
</div>


<!-- Category Gallery Grid -->
<div class="row">
  <div class="card" *ngFor="let category of categories;">
      <div class="header">
        <img src="/assets/category/{{category.image}}" style="width:100%" (click)="showSubcategory(category.subcategories)"/>

      </div>
      <div class="container">
          <p>{{category.name}}</p>
  
      </div>
    </div>
    
</div>
</div>
<!-- Sub Category Gallery Grid -->

<div class="main" *ngIf="showSubCategory">

    <div class="row">
       <ul class="breadcrumb bread">
          <li (click)="back()" style="cursor: pointer;" class="breadcrumb-item">Equipment Catalog</li>
          <li class="breadcrumb-item">{{categories[0].name }}</li>
        </ul>

    </div>
        
    <div class="row">
   
      <div class="card" *ngFor="let subcategory of subcategories;">
          <div class="header">
              <img src="/assets/category/subcategory/{{subcategory.image}}" style="width:100%" />
    
          </div>
          <div class="container">
              <p>{{subcategory.name}}</p>
      
          </div>
        </div>
        
    </div>
    </div>

<router-outlet></router-outlet>